<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="UserName" value="alex"/>
    <add key="RootLocation" value="C:\MTR\Test"/>
    <add key="Password" value="12345"/>
    <add key="AuthUrl" value="http://localhost:8080/v1.0/admin/bo/login"/>
    <add key="FallbackApiUrl" value="http://localhost:8080/v1.0/api/bo/funder/set"/>
    <add key="ApiUrl" value="http://localhost:8080/v1.0/api/bo/funder/setAll"/>
    <add key="InformationUrl" value="http://localhost:8080/v1.0/api/bo/costItem/getLastReportDateForCustomerId"/>
    <add key="FilesFolder" value="PBI"/>
    <add key="ProjectName" value="SCL-EA3"/>
    <add key="ProjectId" value="25"/>
    <add key="MinimumDate" value="2012-01-01"/>
    <add key="CustomerId" value="1"/>
    <add key="CustomerName" value="MTR"/>
    <add key="RunForAllMonths" value="2"/>
    <add key="NumberOfMonthsToRun" value="2"/>
    <add key="LogsRoot" value="C:\PluginSystem\Logs"/>
    <add key="MultiProjectConfigPath" value="C:\plugins\Settings\customerProjectsConfiguration.json"/>
    <add key="DateFormat" value="yyyy-MM-dd hh:mm:ss"/>
  </appSettings>
</configuration>